.chat-message{
    display: flex;
    margin: 15px 30px 15px 30px;
    flex-direction: column;
    position: relative;
    width: fit-content;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #00d7dc;
    border-radius: 10px;
    height: fit-content;
}

 .chat-message-text{
    text-align: left;
    font-size: 13px;
    margin-bottom: -20px;
 }

 .chat-message-date{
    font-size: 11px;
    color: grey;
    font-weight: normal;
    align-self: flex-end;
}

.emoji-picker-react{
    position: absolute !important;
    top: -325px;
}

.img{
    position: inherit;
    display: flex;
    align-self: flex-end;
}


.img > .MuiSvgIcon-root{
    font-size: 16px;
    cursor: pointer;
    color: #01f8fc;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-right: -2px;
}
.img > .MuiSvgIcon-root:hover{
    color: rgb(219, 86, 86);

    
}

.img-message{
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* #00d8dc */